@{
    ViewBag.Title = "Home Page";
}



<div class="panel panel-default">
    <div class="panel-heading">Artist search</div>
    <div class="panel-body">
        @using (Ajax.BeginForm("ArtistSearch","Home",
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET",
            OnFailure = "searchFailed",
            LoadingElementId = "ajax-loader",
            UpdateTargetId = "searchresults",
        }))
    {
        <input type="text" name="q" />
        <input type="submit" value="search" />
        <img id="ajax-loader" src="@Url.Content("~/Content/Images/ajax-loader.gif")"
             style="display:none" />
    }
        <br />
        <div id="searchresults"></div>
    </div>

</div>

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/App/searchFailed.js"></script>
}